@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
body {
  background-color: rgb(241 241 241);
}
.title-text {
  font-family: "Great Vibes", cursive;
  color: black;
  font-weight: 900;
  font-size: 39px;
}
@media screen and (max-width: 769px) {
 .title-text {
  font-size: 29px;
}
}
@media screen and (max-width: 569px) {
 .title-text {
  font-size: 20px;
}
}
/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  background-color: #2d2d2d;
}
/* footer */
footer p {
  margin-bottom: 0;
  padding: 5px;
  color: rgb(177, 177, 177);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
